.coverText {
    position: absolute;   
    top: 250px;
    left: 18%;
    color: white;
    font-family: "acumin-pro-condensed";
}

.coverText h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 15px;
    font-family: "acumin-pro-condensed";
} 
