<header>
    
    <app-navigation></app-navigation>
    
   
  
      <div style="background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) , url(../../../assets/Images/cover-news.jpg); height: 450px;border-bottom: 3px solid #EB262A;" ></div>      
      <div class="container">
      <div class="coverText">
            <h1 class="d-inline">IN THE NEWS</h1><img src="../../../assets/Images/Pulse_icon.png" class="ms-3" style="margin-top: -30px;" alt="">
            <h3 class="mt-3">LOREM IPSUM DOLOR SIT AMET.</h3>                
          </div>
        </div>
  </header>

  
  <app-news-section></app-news-section>

