<section class="ekipa blok">
    <div class="container">
        <h2 class="text-center ourTeam">OUR TEAM</h2>
        <h4 class="text-center ourMinds">Meet the minds behind <span style="color: #EB262A;">ProAm Sports Medicine</span>.</h4>                        
        <div class="ekipaGrupa">Principals</div>
        
        <div class="row  gx-0 gx-lg-5 gy-4 gy-lg-5 team-row">                 
                                                
            <div class="col-lg-6">
                <div class="osobaDetalji  h-100 d-block d-lg-flex">
                    <div class="osobaSlika me-0 me-lg-4 mb-4 mb-lg-0 text-center text-lg-start">
                        <img src="../../../assets/Images/james.png" class="slikaVelicina" alt="">
                    </div>
                    <div class="osobaTekst d-flex flex-column justify-content-center">
                        <h5>James</h5>
                        <p>As ProAm’s CEO, James is no stranger to the physical demands that athletics can place on you. He served in the US Army’s 2/75 Ranger Battalion and competed as a professional triathlete. What motivates him is redefining sports medicine and shifting the focus from how insurance companies can profit to how individuals can be better served.</p>
                    </div>
                </div>
            </div>
                    
                                
            <div class="col-lg-6">
                <div class="osobaDetalji  h-100 d-block d-lg-flex">
                    <div class="osobaSlika me-0 me-lg-4 mb-4 mb-lg-0 text-center text-lg-start">
                        <img src="../../../assets/Images/barbara.png" class="slikaVelicina" alt="">
                    </div>
                    <div class="osobaTekst d-flex flex-column justify-content-center">
                        <h5>Barbara</h5>
                        <p>Barbara serves as Special Operations Manager and has a keen interest in health and wellness. Prior to joining ProAm Sports Medicine, she was a medical scribe. In her current role, she manages the company’s pre-travel virtual COVID-19 testing program. Barbara is also working toward her bachelor’s degree in biology.</p>
                    </div>
                </div>
            </div>
                    
                                  
        </div>
        
        
        <div class="ekipaGrupa">Physicians</div>
        
        <div class="row gx-0 gx-lg-5 gy-4 gy-lg-5 team-row">                
                                                
                    <div class="col-lg-6">
                        <div class="osobaDetalji h-100 d-block d-lg-flex">
                            <div class="osobaSlika me-0 me-lg-4 mb-4 mb-lg-0 text-center text-lg-start">
                                <img src="../../../assets/Images/nick.png" class="slikaVelicina" alt="">
                            </div>
                            <div class="osobaTekst d-flex flex-column justify-content-center">
                                <h5>Dr. Nick Sadeghi, <span class="manjiT">Co-Founder and Medical Dir.</span></h5>
                                <p>Medical Director for ProAm Sports Medicine, Dr. Nick Sadeghi has more than 18 years of practice in emergency medicine and three years specializing in sports medicine. He was born and raised in New Jersey and attended Tufts University before continuing his education at the Rutgers New Jersey Medical School. Dr. Sadeghi has always carried a love for both medicine and sports, which is what inspired his passion for taking care of athletes.<br /></p>
                            </div>
                        </div>
                    </div>
                    
                                
                    <div class="col-lg-6">
                        <div class="osobaDetalji h-100 d-block d-lg-flex">
                            <div class="osobaSlika me-0 me-lg-4 mb-4 mb-lg-0 text-center text-lg-start">
                                <img src="../../../assets/Images/jeff.png" class="slikaVelicina" alt="">
                            </div>
                            <div class="osobaTekst d-flex flex-column justify-content-center">
                                <h5>Dr. Jeff Davidson, <span class="manjiT">Chief Medical Officer (UFC, Raiders, GK)</span></h5>
                                <p>Sports Medicine Consultant for ProAm Sports Medicine, Doctor Jeff Davidson is board certified in Emergency Medicine and has been practicing for nearly 30 years in Las Vegas. He received both his Bachelor of Science degree and Medical Degree from the University of Arizona. He interned and completed his Emergency Medicine residency at Maricopa Medical Center where he served as both Chief Resident and House Staff President.</p>
                            </div>
                        </div>
                    </div>
                                                                      
        </div>
                
    </div>
</section>