.kartica{
    transition: 0.5s !important;    
}

.kartica:hover{
transform: translateY(-10px);
box-shadow: 0px 12px 24px #00000029;
}

.news-span{
    background:#fff; 
    padding:0 10px; 
    font-size: 42px; 
    font-weight: 700; 
    font-family: 'acumin-pro-extra-condensed'; 
    letter-spacing: 0px;
    color: black;
}


.news-h2{
    width: 100%; 
    text-align: center; 
    border-bottom: 2px solid rgba(82, 80, 80, 0.171); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.news-card-date-p{
    color: red; 
    font-size: 13px; 
    margin-top: 7px; 
    margin-bottom: 7px; 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600; 
    padding-left: 10px;
    letter-spacing: 0.0px;
}

.news-card-title{
    font-size: 28px; 
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    letter-spacing: 0px !important;
    font-weight: 700 !important;
    word-spacing: 0px !important;
    line-height: 32px;
}

.news-card-txt{
    font-size: 14px; 
    margin-top: 13px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif; 
    color: #606060;
    padding-right: 10px !important;
    font-weight: 400 !important; 
    letter-spacing: 0px;
    line-height: 21px;
}

.news-card-readMore{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    padding-left: 10px; 
    margin-top: -10px !important;                        
}
.news-card-readMore:hover{
    color: #EB262A !important;
}

.news-btn{    
    background: #eb262a;
    color: #FFFFFF;
    padding: 8px;
    width: 116px;
    height: 40px;
    text-decoration: uppercase;
    text-decoration: none !important; 
    font-family: "acumin-pro-condensed";  
    font-weight: 500;
    transition: 0.5s !important; 
    }
    
.news-btn:hover{    
    background-color: #CE2023;
    color: #FFFFFF;
    transform: translateY(-3px) !important;
}


.aboveFooterDiv{
    height: 620px;
}

.bottomCoverH1{
    font-size: 59px;
    font-family: "acumin-pro-extra-condensed";
    font-weight: 700;
    letter-spacing: 0.3px;
    padding-left: 5px !important;
}

.bottomCover-Btn{
    margin-left: 10px;
    background-color: #EB262A;
    width: 116px;
    height: 40px;
    color: #FFFFFF !important;
    text-align: center;
    transition: 0.5s !important;
    padding-top: 7px;
    text-decoration: none;
    font-family: "acumin-pro-condensed";
}
.bottomCover-Btn:hover{
    transform: translateY(-3px) !important;
    background-color: #CE2023 !important;
}

@media screen and (min-width: 1800px)  {
    .container{
        min-width: 1370px !important;
    }
    .kartica{
        transition: 0.5s !important;
    }

    .kartica:hover{
    transform: translateY(-10px);
    box-shadow: 0px 12px 24px #00000029;
    }

    .news-span{
        background:#fff; 
        padding:0 10px; 
        font-size: 42px; 
        font-weight: 700; 
        font-family: 'acumin-pro-extra-condensed'; 
        letter-spacing: 0px;
        color: black;
    }


    .news-h2{
        width: 100%; 
        text-align: center; 
        border-bottom: 2px solid rgba(82, 80, 80, 0.171); 
        line-height: 0.1em;
        margin: 10px 0 20px;       
        margin-bottom: 60px;
    }

    .news-card-date-p{
        color: red; 
        font-size: 13px; 
        margin-top: 7px; 
        margin-bottom: 7px; 
        font-family: 'Open Sans', sans-serif; 
        font-weight: 600; 
        padding-left: 10px;
        letter-spacing: 0.0px;
    }

    .news-card-title{
        font-size: 28px; 
        padding-left: 10px;
        font-family: 'Open Sans', sans-serif;
        color: #000000;
        letter-spacing: 0px !important;
        font-weight: 700 !important;
        word-spacing: 0px !important;
        line-height: 32px;
    }

    .news-card-txt{
        font-size: 14px; 
        margin-top: 13px;
        padding-left: 10px;
        font-family: 'Open Sans', sans-serif; 
        color: #606060;
        padding-right: 10px !important;
        font-weight: 400 !important; 
        letter-spacing: 0px;
        line-height: 21px;
    }

    .news-card-readMore{
        font-family: 'Open Sans', sans-serif; 
        font-weight: 600;
        font-size: 15px;
        text-decoration: none;
        padding-left: 10px; 
        margin-top: -10px !important;                        
    }
    .news-card-readMore:hover{
        color: #EB262A !important;
    }

    .news-btn{    
        background: #eb262a;
        color: #FFFFFF;
        padding: 8px;
        padding-top: 9px;
        width: 116px;
        height: 40px;
        text-decoration: uppercase;
        text-decoration: none !important; 
        font-family: "acumin-pro-condensed";  
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        transition: 0.5s !important; 
        }
        
    .news-btn:hover{    
        background-color: #CE2023;
        color: #FFFFFF;
        transform: translateY(-3px) !important;
    }


    .aboveFooterDiv{
        height: 620px;
    }

    .bottomCoverH1{
        font-size: 59px;
        font-family: "acumin-pro-extra-condensed";
        font-weight: 700;
        letter-spacing: 0.3px;
        padding-left: 5px !important;
    }

    .bottomCover-Btn{
        margin-left: 10px;
        background-color: #EB262A;
        width: 116px;
        height: 40px;
        color: #FFFFFF !important;
        text-align: center;
        transition: 0.5s !important;
        padding-top: 9px;
        text-decoration: none;
        font-family: "acumin-pro-condensed";
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.7px;
    }
    .bottomCover-Btn:hover{
        transform: translateY(-3px) !important;
        background-color: #CE2023 !important;
    }
    
    .first{
        padding-left: 69px;
     }
     
     .odd{
         padding-left: 42px;   
         padding-right: 42px;
     }
     
     .last{
         padding-left: 16px;
         padding-right: 70px;
     }
}

.bottomCoverDiv{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 66%; 
    text-align: center; 
    width: 60%;
}

@media screen and (min-width: 370px) and (max-width: 500px)  {
    .aboveFooterDiv{
         height: 400px;
    }

    .bottomCoverH1{
        font-size: 40px;
        font-family: "acumin-pro-extra-condensed";
        font-weight: 700;
        letter-spacing: 0.3px;
        padding-left: 5px !important;
    }

    .bottomCoverDiv{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%; 
        text-align: center; 
        width: 60%;
    }
    
}



// .zaKarte:hover{
//     transform: translateY(-10px);
//     box-shadow: 0px 12px 24px #00000029;
//     color: red !important;
//     transition: 0.5s !important;
// }

// .kartica{
//     transition: 0.5s !important;
// }
// .kartica:hover{
// transform: translateY(-10px);
// box-shadow: 0px 12px 24px #00000029;
// }


// .dugmeNews{    
// background: #eb262a;
// color: #FFFFFF;
// padding: 8px;
// width: 116px;
// height: 40px;
// text-decoration: uppercase;
// text-decoration: none !important; 
// font-family: "acumin-pro-condensed";  
// transition: 0.5s !important; 
// }

// .dugmeNews:hover{    
// background-color: #CE2023;
// color: #FFFFFF;
// transform: translateY(-3px) !important;
// }



// @media screen and (min-width: 1800px)  {
    
//     .container{
//         min-width: 1370px !important;
//     }

    
// }




// @media screen and (min-width: 545px) and (max-width: 745px) {
    
//     .plivacDiv{
//         height: 500px !important;
//     }


// }

// @media screen and (min-width: 400px) and (max-width: 544px) {
    
//     .plivacDiv{
//         height:  400px !important;
//     }

// }

// .plivacDiv{
//     height: 620px;
// }



// .g-custom{
//     --bs-gutter-x: 60px;
// }





