@media screen and (min-width: 1800px)  {
    
    .container{
        min-width: 1370px !important;
    }

}



.coverText {
    position: absolute;   
    top: 400px;            
    color: white;
    font-family: "acumin-pro-condensed";
}

.coverText h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 15px;
    font-family: "acumin-pro-condensed";
}

.coverText p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
}

.headerCoverDiv{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) ,url(../../../assets/Images/pro-am-our_services-hero.jpg); 
    height: 600px;
    border-bottom: 3px solid #EB262A;
}

@media screen and (min-width: 360px) and (max-width: 420px)  {

    .headerCoverDiv{
        background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) ,url(../../../assets/Images/pro-am-our_services-hero.jpg);
        background-size: auto; 
        height: 600px;
        border-bottom: 3px solid #EB262A;
    }
    
    
    .coverText {
        position: absolute;   
        top: 250px;            
        color: white;
        font-family: "acumin-pro-condensed";
    }
    .coverText h1 {
        font-size: 45px;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 15px;
        font-family: "acumin-pro-condensed";
    }
    
    .coverText p {
        font-size: 14px;
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
    }

    .headerCoverDiv{
        background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) ,url(../../../assets/Images/pro-am-our_services-hero.jpg); 
        height: 400px;
        border-bottom: 3px solid #EB262A;
    }
}




