<div class="container text-center" style="margin-top:52px;">
    <h3 class="Proam-Performs-h3"  >OUT OF ITS BRAND NEW MEDICAL CENTER, <span style="color: #eb262a">PROAM</span> ALSO PERFORMS</h3>
    <div class="row">                                           
      <ul class="d-lg-flex d-block justify-content-center  mb-3 col-xl-12 col-lg-12 col-md-6 col-sm-6" style="margin-top: 8px;">
              <li class="list-ourServices firstServ"><span class="text-black list-ourServices ">PHYSICAL EXAMS</span></li>
              <li class="list-ourServices"><span class="text-black list-ourServices">NEUROLOGICAL EXAMS</span></li>
              <li class="list-ourServices"><span class="text-black list-ourServices">COMPLETE LAB WORK</span></li>
              <li class="list-ourServices"><span class="text-black list-ourServices">EKGS, X-RAYS</span></li>
          </ul>
          <hr class="HorizontalLine">  
      <ul class="d-lg-flex d-block justify-content-center mt-3  col-xl-12 col-lg-12 col-md-6 col-sm-6">
              <li class="list-ourServices firstServ firstserv2"><span class="text-black list-ourServices" >STEM CELL TREATMENT</span></li>
              <li class="list-ourServices"><span class="text-black list-ourServices">PHYSICAL THERAPY</span></li>
              <li class="list-ourServices"><span class="text-black list-ourServices">PERFORMANCE LABS</span></li>
              <li class="list-ourServices"><span class="text-black list-ourServices">VO2 MAX TESTING</span></li>
          </ul>
    </div>
    <div class="mt-3 bg-light text-center ourServices-covidDiv">
      <p class="ourServices-covidTxt">In our fight against COVID-19, ProAm is partnered with Gomeyra.com and Thermo Fisher, and we’re contracted with labs nationwide to provide complete COVID-19 testing resources, ensuring safe work, sport, education, and entertainment environments.</p>
    </div>
    </div>    




    <div class="servicesFooterDiv" >
      <div class="container py-5 text-center">                           
          <h1 class="text-white text-center servicesFooterH1">WE'D LOVE TO HEAR FROM YOU!</h1>      
          <a href="#" type="button" class="mt-4 dugmeNews text-center" data-bs-toggle="modal" data-bs-target="#contactModal" >CONTACT US</a>
      </div>
  </div> 
  <hr style="color: #EB262A; height: 4px; opacity: 1; width: 100%; margin-top: 0px;">  


