 <!-- prvi -->
 <div class="pcVarijanta" style="background-image:linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) ,url(../../../assets/Images/pro-am-our_services-pre_comp_medicals.jpg); height: 660px;" >    
    <div class="container py-5">
        <img src="../../../assets/Images/Stethoscope.png" class="d-inline" alt="">
        <h1 class="mt-5 d-inline" style="color: white;">PRE-COMPETITION MEDICALS</h1>
        <p class="text-white mt-3" style="width: 550px; font-size: 14px; line-height: 20px;">ProAm, also known as Athlete Advantage Medical, is proudly headquartered in Las Vegas and works with medical professionals, athletes of all levels, sports organizations, and managers across the nation, providing everything from physical exams and labs to EKGs. Through our Medical Treatment Network, we offer a one point of contact for fighter, manager, and promotion to schedule and complete ALL state-required medicals and medical suspension clearances.
        <br><br>
         ProAm is also an outsourced medicals coordinator. In addition to managing athlete’s medicals, we store records electronically and work directly with athletic commissions to ensure athletes are licensed and medically cleared in time to compete.<br><br>We work with all major fight promotions, including UFC, Bellator, PFL, Top Rank, PBC, Matchroom, and Golden Boy, as well as many local and regional promotions throughout the US. ProAm has partnered with only the best medical providers and resources to serve our clients both locally in Las Vegas and across the United States, offering a comprehensive range of exams. We assist promotions in managing the Federal and State licensing process and can coordinate directly with State Athletic Commissions.</p>
        <a href="#" type="button" class="mt-4 dugmeCover text-center" data-bs-toggle="modal" data-bs-target="#viewPreCompetitionsMedicalsModal">ORDER AN EXAM</a>   
        <a href="#" type="button" class="ms-3 mt-4 dugmeCoverDrugo text-center" data-bs-toggle="modal" data-bs-target="#viewPreCompetitionsLabModal">ORDER A LAB</a>                   
            
    </div>  
  </div>
  
  <!-- prvi MOBILE -->
  <div class="mobilnaVarijanta">
    <div style="background-image:linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) ,url(../../../assets/Images/pro-am-our_services-pre_comp_medicals.jpg); height: 260px;" >    
        <div class="container py-5">
            <img  class="mt-5 pt-4" src="../../../assets/Images/Stethoscope.png" class="d-block" alt="">
            <h1 style="color: white;">PRE-COMPETITION MEDICALS</h1>
        </div>
    </div>
    <div class="py-5 bg-black">  
        <div class="container">
        <a href="#" type="button" class="dugmeCover text-center" data-bs-toggle="modal" data-bs-target="#viewPreCompetitionsMedicalsModal">ORDER AN EXAM</a>   
        <a href="#" type="button" class="ms-3 dugmeCoverDrugo text-center">ORDER A LAB</a>                   
        <p class="text-white mt-3" style="width: 550px; font-size: 14px; line-height: 20px;">ProAm, also known as Athlete Advantage Medical, is proudly headquartered in Las Vegas and works with medical professionals, athletes of all levels, sports organizations, and managers across the nation, providing everything from physical exams and labs to EKGs. Through our Medical Treatment Network, we offer a one point of contact for fighter, manager, and promotion to schedule and complete ALL state-required medicals and medical suspension clearances.
        <br><br>
        ProAm is also an outsourced medicals coordinator. In addition to managing athlete’s medicals, we store records electronically and work directly with athletic commissions to ensure athletes are licensed and medically cleared in time to compete.<br><br>We work with all major fight promotions, including UFC, Bellator, PFL, Top Rank, PBC, Matchroom, and Golden Boy, as well as many local and regional promotions throughout the US. ProAm has partnered with only the best medical providers and resources to serve our clients both locally in Las Vegas and across the United States, offering a comprehensive range of exams. We assist promotions in managing the Federal and State licensing process and can coordinate directly with State Athletic Commissions.</p>        
        </div>      
    </div>  
  </div>


  <!-- drugi -->
  <div class="pcVarijanta" style="background-image:linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) , url(../../../assets/Images/pro-am-our_services-better_performance.jpg); height: 660px;" >
    <div class="container py-5">
        <img src="../../../assets/Images/OurServices/Medicine.png" class="d-inline" alt="">
        <h1 class="mt-5 d-inline" style="color: white;">BETTER PERFORMANCE THROUGH MEDICINE</h1>
        <p class="text-white mt-3" style="width: 550px; font-size: 14px; line-height: 20px;">
            We provide athletes with the most effective strength and conditioning practices at their state-of-the-art training facility to include proper recovery, nutrition, and sport specific mechanics. Elevate produces complete training programs specific to each athlete’s sport and abilities for ensuring optimal fitness and peak performance.
            <br><br>
            ProAm provides performance labs, including testosterone, complete blood count, and comprehensive metabolic panels through our nationwide Labcorp account.
            <br><br>
            VO2 max testing is performed at our medical practice to determine each athlete’s specific aerobic conditioning and capabilities in order to develop specific training programs for maximum cardiovascular fitness and endurance.                            
        </p>            
        <a href="#" type="button" class="mt-4 dugmeCover text-center" data-bs-toggle="modal" data-bs-target="#viewPerformanceModal">CONTACT US</a>                               
    </div>
</div>

<!-- drugi MOBILNA -->
<div class="mobilnaVarijanta">
    <div style="background-image:linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) , url(../../../assets/Images/pro-am-our_services-better_performance.jpg); height: 260px;" >
        <div class="container py-5">
            <img src="../../../assets/Images/Medicine.png" class="d-block mt-5 pt-5" alt="">
            <h1 class="d-block" style="color: white; font-size: 24px;">BETTER PERFORMANCE THROUGH MEDICINE</h1>
        </div>
    </div>
    <div class="py-5 bg-black">
        <div class="container">
            <a href="#" type="button" class="mt-4 dugmeCover text-center" data-bs-toggle="modal" data-bs-target="#viewPerformanceModal">CONTACT US</a>                               
            <p class="text-white mt-3" style="width: 550px; font-size: 14px; line-height: 20px;">
                We provide athletes with the most effective strength and conditioning practices at their state-of-the-art training facility to include proper recovery, nutrition, and sport specific mechanics. Elevate produces complete training programs specific to each athlete’s sport and abilities for ensuring optimal fitness and peak performance.
                <br><br>
                ProAm provides performance labs, including testosterone, complete blood count, and comprehensive metabolic panels through our nationwide Labcorp account.
                <br><br>
                VO2 max testing is performed at our medical practice to determine each athlete’s specific aerobic conditioning and capabilities in order to develop specific training programs for maximum cardiovascular fitness and endurance.                            
            </p>            
        </div>
    </div>
</div>
 
  
  <!-- treci -->
  <div class="pcVarijanta" style="background-image:linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) , url(../../../assets/Images/pro-am-our_services-covid-19_testing_services.jpg); height: 660px;" >
    <div class="container py-5">
        <img src="../../../assets/Images/Testing.png" class="d-inline" alt="">
        <h1 class="mt-5 d-inline" style="color: white;">COVID-19 TESTING SERVICES</h1>
        <p class="text-white mt-3" style="width: 550px; font-size: 14px; line-height: 20px;">
            Onsiteable, the COVID testing arm of ProAm, provides complete COVID-19 testing solutions specific to our client’s’ requirements and customized to each event. We are contracted with CLIA-certified, high-complexity labs and medical resources nationwide to provide both onsite and pre-travel at-home COVID-19 testing solutions and protocols to our sports, entertainment, and corporate clients, including UFC, NCAA, Miss Universe, and The Cosmopolitan Hotel and Casino.
            <br><br>
            Our state-of-the-art technology platform by Gomeyra.com provides our clients with real-time testing verification for access into secured locations and efficient management of results.
            <br><br>
            For pre-travel at-home testing, ProAm overnight ships either a Rapid Antigen or RT/PCR test kit, schedules and completes testing through ZOOM, return ships to the lab, and provides a report.
            <br><br>
            Pro Am holds all appropriate licensing and insurance as a medical practice, including CLIA licensing and authorization to conduct COVID testing under the FDA/EUA.    
        </p>
        <a href="#" type="button" class="mt-4 dugmeCover text-center" style="width: 294px;">SCHEDULE YOUR PRE-TRAVEL AT HOME TEST</a>   
        <a href="#" type="button" class="ms-3 mt-4 dugmeCoverDrugo text-center" style="width: 242px;">CONTACT US FOR EVENT PLANNING</a>                   
            
    </div>
   </div>

   <!-- treci MOBILE-->
<div class="mobilnaVarijanta">
  <div style="background-image:linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) , url(../../../assets/Images/pro-am-our_services-covid-19_testing_services.jpg); height: 260px;" >
    <div class="container py-5">
        <img src="../../../assets/Images/Testing.png" class="mt-5 pt-5" alt="">
        <h1 style="color: white;">COVID-19 TESTING SERVICES</h1>
    </div>
  </div>
  <div class="py-5 bg-black">
      <div class="container">
        <a href="#" type="button" class="dugmeCover text-center" style="width: 294px;">SCHEDULE YOUR PRE-TRAVEL AT HOME TEST</a>   
        <a href="#" type="button" class="mt-3 dugmeCoverDrugo text-center" style="width: 242px;">CONTACT US FOR EVENT PLANNING</a>                                   
        <p class="text-white mt-3" style="width: 550px; font-size: 14px; line-height: 20px;">
            Onsiteable, the COVID testing arm of ProAm, provides complete COVID-19 testing solutions specific to our client’s’ requirements and customized to each event. We are contracted with CLIA-certified, high-complexity labs and medical resources nationwide to provide both onsite and pre-travel at-home COVID-19 testing solutions and protocols to our sports, entertainment, and corporate clients, including UFC, NCAA, Miss Universe, and The Cosmopolitan Hotel and Casino.
            <br><br>
            Our state-of-the-art technology platform by Gomeyra.com provides our clients with real-time testing verification for access into secured locations and efficient management of results.
            <br><br>
            For pre-travel at-home testing, ProAm overnight ships either a Rapid Antigen or RT/PCR test kit, schedules and completes testing through ZOOM, return ships to the lab, and provides a report.
            <br><br>
            Pro Am holds all appropriate licensing and insurance as a medical practice, including CLIA licensing and authorization to conduct COVID testing under the FDA/EUA.    
        </p>            
      </div>
  </div>                        
</div>

<!--cetvrti-->    
<div class="pcVarijanta" style="background-image:linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) , url(../../../assets/Images/pro-am-our_services-exp_injury_treatment.jpg); height: 660px;" >
    <div class="container py-5">
        <img src="../../../assets/Images/Urgent Care.png" class="d-inline" alt="">
        <h1 class="mt-5 d-inline" style="color: white;">EXPEDITED INJURY TREATMENT</h1>
        <p class="text-white mt-3" style="width: 550px; font-size: 14px; line-height: 20px;">
            With Expedited Injury Treatment, ProAm has revolutionized the injury treatment process by consolidating evaluations, referrals, and office visits to dramatically reduce the time it takes to receive appropriate care and ensure patients do not “fall through he cracks” of the often complicated and disjointed medical treatment and insurance process. ProAm’s mobile app starts the treatment process at the time of injury, with treatment counselors ready and assigned to oversee each patient’s journey from start to finish.
            <br><br>
            For uninsured patients, ProAm offers reduced cash pay rates and has negotiated reduced rates within it’s medical provider network because everyone should be able to afford proper medical care.
            <br><br>
            ProAm provides Physical Therapy treatment for all athletes within its medical facility, specific to injury and sport, ensuring patients are 100% and remain injury free.
            <br><br>
            “The days of running all around town, waiting for doctor’s appointments, and being treated like a number are over. Our injury treatment facility and referral network consolidates treatment in an efficient and effective manner, with the focus being on bringing a “customer service” approach into medicine. Our passion is in helping patients get back to theirs, stronger than ever.” James Murphy, ProAm CEO        
        <a href="#" type="button" class="mt-4 d-block dugmeCover text-center" data-bs-toggle="modal" data-bs-target="#viewInjuryModal">CONTACT US</a>                           
    </div>
</div>

<!--cetvrti MOBILE-->  
<div class="mobilnaVarijanta">
    <div style="background-image:linear-gradient(to left, rgba(255,0,0,0), rgb(8, 8, 8)) , url(../../../assets/Images/pro-am-our_services-exp_injury_treatment.jpg); height: 260px;" >
        <div class="container py-5">
            <img src="../../../assets/Images/Urgent Care.png" class="d-block mt-5 pt-5" alt="">
            <h1 class="d-block" style="color: white;">EXPEDITED INJURY TREATMENT</h1>                                  
        </div>
    </div>
    <div class="py-5 bg-black">
        <div class="container">
        <a href="#" type="button" class=" dugmeCover text-center" data-bs-toggle="modal" data-bs-target="#viewInjuryModal">CONTACT US</a>         
        <p class="text-white mt-3" style="width: 550px; font-size: 14px; line-height: 20px;">
            With Expedited Injury Treatment, ProAm has revolutionized the injury treatment process by consolidating evaluations, referrals, and office visits to dramatically reduce the time it takes to receive appropriate care and ensure patients do not “fall through he cracks” of the often complicated and disjointed medical treatment and insurance process. ProAm’s mobile app starts the treatment process at the time of injury, with treatment counselors ready and assigned to oversee each patient’s journey from start to finish.
            <br><br>
            For uninsured patients, ProAm offers reduced cash pay rates and has negotiated reduced rates within it’s medical provider network because everyone should be able to afford proper medical care.
            <br><br>
            ProAm provides Physical Therapy treatment for all athletes within its medical facility, specific to injury and sport, ensuring patients are 100% and remain injury free.
            <br><br>
            “The days of running all around town, waiting for doctor’s appointments, and being treated like a number are over. Our injury treatment facility and referral network consolidates treatment in an efficient and effective manner, with the focus being on bringing a “customer service” approach into medicine. Our passion is in helping patients get back to theirs, stronger than ever.” James Murphy, ProAm CEO                    
        </div>
    </div>
</div>  




  
<!-- DRUGI MODAL | ORDER AN EXAM-->                
<div class="modal fade" id="viewPreCompetitionsMedicalsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <div >
            <button type="button" class="btn-close mt-3" style="float: right; padding-right: 30px;" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mt-5 pe-3"><img src="../../assets/Images/Stethoscope.png" alt="nema Slike"></div>
            <h2 class="modal-title modal-h2" id="exampleModalLabel">PRE-COMPETITIONS MEDICALS</h2>          
            <p class="modal-p">Order an Exam</p>
        </div>
        <div class="modal-body">
          <form class="ps-4 pe-4 needs-validation" novalidate style="font-family: 'Acumin Pro Condensed'">
            <div class="row" >
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" >
                  <label>FIRST & LAST NAME(as is on id)</label>
                  <input type="text" class="form-control bgInputa" style="margin-bottom: 20px;" required><div class="invalid-feedback" role="alert" style="color: red;">Please add a first and last name.</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                  <label for="inputPassword4">BIRTHDAY</label>
                  <input type="date" class="form-control bgInputa" id="inputmiddleName" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your birthday.</div>
                </div>  
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                  <label for="inputPassword4">PHONE #</label>
                  <input type="number" class="form-control bgInputa" id="inputmiddleName"required><div class="invalid-feedback" role="alert" style="color: red;">Please add your phone number.</div>
                </div>              
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <label>EMAIL</label>
                    <input type="email" class="form-control bgInputa" style="margin-bottom: 20px;" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your Email.</div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <label for="inputPassword4">ZIP CODE (Exam Location)</label>
                    <input type="number" class="form-control bgInputa" id="inputmiddleName" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your zip code.</div>
                  </div>  
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <label for="inputPassword4">EXAM(S) DUE DATE</label>
                    <input type="date" class="form-control bgInputa" id="inputmiddleName" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your exams due date .</div>
                  </div>            
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label>FIGHT PROMOTION</label>
                      <input type="text" class="form-control bgInputa" style="margin-bottom: 20px;" required><div class="invalid-feedback" role="alert" style="color: red;">Please add fight promotion.</div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label>STATE YOU ARE FIGHTING IN</label>
                      <input class="form-control bgInputa" id="message-text" required><div class="invalid-feedback" role="alert" style="color: red;">Please add state.</div>
                    </div> 
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <label>GENDER</label>
                      <input placeholder="Select" class="form-control bgInputa" id="message-text" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your gender.</div>
                    </div>           
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <label>MESSAGE</label>
                        <textarea placeholder="To ensure your experience is seamless, please provide us with as much information as you can about the type of exams you need, what forms are required, and who should be billed for these exams, and their name and contact information." style="font-size: 12px; min-height: 100px ;" class="form-control bgInputa" id="message-text" required></textarea><div class="invalid-feedback" role="alert" style="color: red;">Please add a message .</div>
                      </div>
                    </div>
                    <div class="text-center mt-3">
                      <button type="submit"  class="modal-btn">SUBMIT</button>
                    </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <!--MODAL 3 | REQUEST A LAB-->
  <div class="modal fade" id="viewPreCompetitionsLabModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div >
            <button type="button" class="btn-close mt-3" style="float: right; padding-right: 30px;" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mt-5 pe-3"><img src="../../assets/Images/Stethoscope.png" alt="nema Slike"></div>
            <h2 class="modal-title modal-h2" id="exampleModalLabel">PRE-COMPETITIONS MEDICALS</h2>          
            <p class="modal-p">Request a Lab</p>
        </div>
        <div class="modal-body">
          <form class="ps-4 pe-4 needs-validation" novalidate style="font-family: 'Acumin Pro Condensed'">
            <div class="row flex-sm-row flex-md-row" >
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" >
                  <label>FIRST & LAST NAME(as is on id)</label>
                  <input type="text" class="form-control bgInputa" style="margin-bottom: 20px;"required><div class="invalid-feedback" role="alert" style="color: red;">Please add a first and last name.</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                  <label for="inputPassword4">BIRTHDAY</label>
                  <input type="date" class="form-control bgInputa" id="inputmiddleName" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your birthday.</div>
                </div>  
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                  <label for="inputPassword4">PHONE #</label>
                  <input type="number" class="form-control bgInputa" id="inputmiddleName"required><div class="invalid-feedback" role="alert" style="color: red;">Please add your phone number.</div>
                </div>              
                </div>
                <div class="row flex-sm-row flex-md-row">
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <label>EMAIL</label>
                    <input type="email" class="form-control bgInputa" style="margin-bottom: 20px;" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your Email.</div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <label for="inputPassword4">ZIP CODE (Exam Location)</label>
                    <input type="number" class="form-control bgInputa" id="inputmiddleName" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your zip code.</div>
                  </div>  
                  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <label for="inputPassword4">EXAM(S) DUE DATE</label>
                    <input type="date" class="form-control bgInputa" id="inputmiddleName" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your exams due date.</div>
                  </div>            
                  </div>
                  <div class="row">                  
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                      <label>GENDER</label>
                      <input placeholder="Select" class="form-control bgInputa" id="message-text" required><div class="invalid-feedback" role="alert" style="color: red;">Please add your gender.</div>
                    </div>  
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                      <label>ARE YOU AN ATHLETE?</label>
                      <input placeholder="Select" class="form-control bgInputa" id="message-text"  required><div class="invalid-feedback" role="alert" style="color: red;">Please choose if you are an athlete.</div>
                    </div>           
                    </div>                  
                    <div class="text-center mt-3">
                      <button type="submit" class="modal-btn">SUBMIT</button>
                    </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <!--MODAL 4 | PERFORMANCE-->
  <div class="modal fade" id="viewPerformanceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div >
            <button type="button" class="btn-close mt-3" style="float: right; padding-right: 30px;" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mt-5 pe-3"><img src="../../assets/Images/Medicine.png" alt="nema Slike"></div>
            <h2 class="modal-title modal-h2" id="exampleModalLabel">BETTER PERFORMANCE THROUGH MEDICINE</h2>          
            <p class="modal-p">Send us a message and let us know how we can help.</p>
        </div>
        <div class="modal-body">
          <form class="ps-4 pe-4 needs-validation" novalidate style="font-family: 'Acumin Pro Condensed'">
            <div class="row" >
                <div class="col-6" >
                  <label>FIRST NAME</label>
                  <input type="text" class="form-control bgInputa" style="margin-bottom: 20px;" required><div class="invalid-feedback" role="alert" style="color: red;">Please add a name.</div>
                </div>
                <div class="col-6">
                  <label for="inputPassword4">MIDDLE NAME</label>
                  <input type="text" class="form-control bgInputa" id="inputmiddleName" required><div class="invalid-feedback" role="alert" style="color: red;">Please add a Middle name.</div>
                </div>              
                </div>
                <div class="row">
                  <div class="col-6">
                    <label>LAST NAME</label>
                    <input type="text" class="form-control bgInputa" style="margin-bottom: 20px;"required><div class="invalid-feedback" role="alert" style="color: red;">Please add a last name.</div>
                  </div>
                  <div class="col-6">
                    <label for="inputPassword4">PHONE NUMBER</label>
                    <input type="number" class="form-control bgInputa" id="inputmiddleName"required><div class="invalid-feedback" role="alert" style="color: red;">Please add a phone number.</div>
                  </div>              
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label>EMAIL</label>
                      <input type="email" class="form-control bgInputa" style="margin-bottom: 20px;" required><div class="invalid-feedback" role="alert" style="color: red;">Please add an email.</div>
                    </div>
                    <div class="col-12">
                      <label>MESSAGE</label>
                      <textarea class="form-control bgInputa" id="message-text" required></textarea><div class="invalid-feedback" role="alert" style="color: red;">Please add a message.</div>
                    </div>            
                    </div>
                    <div class="text-center mt-3">
                      <button type="submit" class="modal-btn">SUBMIT</button>
                    </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  
  
  
  
  <!--MODAL 5 | PERFORMANCE INJURY-->
  <div class="modal fade" id="viewInjuryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div >
            <button type="button" class="btn-close mt-3" style="float: right; padding-right: 30px;" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="text-center mt-5 pe-3"><img src="../../assets/Images/Urgent Care.png" alt="nema Slike"></div>
            <h2 class="modal-title modal-h2" id="exampleModalLabel">EXPEDITED INJURY TREATMENT</h2>          
            <p class="modal-p">Send us a message and let us know how we can help.</p>
        </div>
        <div class="modal-body">
          <form class="ps-4 pe-4 needs-validation" novalidate style="font-family: 'Acumin Pro Condensed'">
            <div class="row" >
                <div class="col-6" >
                  <label>FIRST NAME</label>
                  <input type="text" class="form-control bgInputa" style="margin-bottom: 20px;" required><div class="invalid-feedback" role="alert" style="color: red;">Please add a name.</div>
                </div>
                <div class="col-6">
                  <label for="inputPassword4">MIDDLE NAME</label>
                  <input type="text" class="form-control bgInputa" id="inputmiddleName" required><div class="invalid-feedback" role="alert" style="color: red;">Please add a Middle name.</div>
                </div>              
                </div>
                <div class="row">
                  <div class="col-6">
                    <label>LAST NAME</label>
                    <input type="text" class="form-control bgInputa" style="margin-bottom: 20px;"required><div class="invalid-feedback" role="alert" style="color: red;">Please add a last name.</div>
                  </div>
                  <div class="col-6">
                    <label for="inputPassword4">PHONE NUMBER</label>
                    <input type="number" class="form-control bgInputa" id="inputmiddleName"required><div class="invalid-feedback" role="alert" style="color: red;">Please add a phone number.</div>
                  </div>              
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label>EMAIL</label>
                      <input type="email" class="form-control bgInputa" style="margin-bottom: 20px;" required><div class="invalid-feedback" role="alert" style="color: red;">Please add an email.</div>
                    </div>
                    <div class="col-12">
                      <label>MESSAGE</label>
                      <textarea class="form-control bgInputa" id="message-text" required></textarea><div class="invalid-feedback" role="alert" style="color: red;">Please add a message.</div>
                    </div>            
                    </div>
                    <div class="text-center mt-3">
                      <button type="submit" class="modal-btn">SUBMIT</button>
                    </div>
          </form>
        </div>      
      </div>
    </div>
  </div>
  
  
  
  
  
  
  




