<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="../../assets/Images/ProAmLogo.png" alt="PRO-AM Sports Medicine">
        </a>
        
        <label class="navbar-toggler" for="" type="button">          
            <span></span><span></span><span></span>
        </label>
        
        <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav ms-auto align-items-center">  
              <li class="nav-item nav-active"><a href="index.html" class="nav-link ">HOME</a></li>
              <li class="nav-item "><a href="AboutUs.html" class="nav-link ">ABOUT US</a></li>
              <li class="nav-item"><a href="OurServices.html" class="nav-link nav-link-services">OUR SERVICES</a></li>
              <li class="nav-item"><a href="#" class="nav-link ">INJURY TREATMENT</a></li>
              <li class="nav-item"><a href="#" class="nav-link ">PATIENT PORTAL</a></li>
              <li class=""><a href="#" class="nav-link contactUsBtn" data-bs-toggle="modal" data-bs-target="#contactModal">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>

