<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="../../assets/Images/ProAmLogo.png" alt="PRO-AM Sports Medicine">
        </a>
        
        <label class="navbar-toggler" for="" type="button">          
            <span></span><span></span><span></span>
        </label>
        
        <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav ms-auto align-items-center">  
              <li class="nav-item active"><a href="index.html" class="nav-link homeM">HOME</a></li>
              <li class="nav-item"><a href="#" class="nav-link aboutM">ABOUT US</a></li>
              <li class="nav-item"><a href="#" class="nav-link servicesM">OUR SERVICES</a></li>
              <li class="nav-item"><a href="#" class="nav-link injury">INJURY TREATMENT</a></li>
              <li class="nav-item"><a href="#" class="nav-link patient">PATIENT PORTAL</a></li>
              <li class=""><a href="#" class="nav-link contactUsBtn">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</nav>